.root {
    margin-left: 32px;
    margin-right: 40px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #011626;
    margin-bottom: 16px;
}

.addBranchButton {
    margin-top: 8px;
    margin-bottom: 40px;
}
