.root {
    background: #FFFFFF;
    box-shadow: 0 4px 24px rgba(1, 22, 38, 0.08);
    border-radius: 8px;
    padding: 32px 32px 16px 32px;
    margin-bottom: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #011626;
    margin-bottom: 8px;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(1, 22, 38, 0.56);
}

.attr {
    width: 100%;
}
