.root {
    display: inline-block;
    width: 192px;
    height: 68px;
    margin-right: 24px;
}

.label {
    margin-top: 12px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(1, 22, 38, 0.56);
}
.value {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #011626;
}

.line {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px dashed rgba(1, 22, 38, 0.24);
}
