.root {
    background: #FFFFFF;
    box-shadow: 0 4px 24px rgba(1, 22, 38, 0.08);
    border-radius: 8px;
    margin: 33px 40px 40px 32px;
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #011626;
    margin-bottom: 7px;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(1, 22, 38, 0.56);
}

.attrs {
    margin-top: 32px;
    margin-bottom: 24px;
    display: flex;
}
