.root {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #068441;
    flex: none;
    order: 0;
    align-self: center;
    text-decoration: none;
}
