.title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #011626;
}

.body {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #011626;
    margin-bottom: 40px;
}

.line {
    border: 0;
    height: 1px;
    background: rgba(1, 22, 38, 0.08);
    margin: 32px -32px 20px -32px;
}
