
.addOrganizationButton {
    padding: 24px 24px 24px 40px;
    display: flex;
    text-decoration: none;

    &.addOrganizationButtonSelected {
        background-color: #11954F;
        .addOrganizationButtonText {
            color: #ffffff;
        }

        path {
            fill: #ffffff;
        }

        circle {
            stroke: #ffffff;
        }
    }
}

.addOrganizationButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.14286px;
    color: #068441;
    margin-left: 8px;
}

.addOrganizationButtonIcon {
    svg {
        width: 20px;
        height: 20px;
    }
}
