.link {
    padding: 16px 24px 11px 40px;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &.selected {
        background-color: #11954F;
        .title, .description {
            color: #ffffff;
        }

        path {
            fill: #ffffff;
        }

        circle {
            stroke: #ffffff;
        }
    }
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #011626;
    margin-bottom: 4px;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(1, 22, 38, 0.56);
}
