.root {
    width: 264px;
    background: #FFFFFF;
    height: 100%;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(1, 22, 38, 0.56);
    padding: 32px 24px 16px 40px;
}
