.button {
    background-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    letter-spacing: -0.685714px;
    color: #068441;
    padding: 4px;
}

.active {
    border: 1px solid #0DA94E;
    color: #0B8940;
    cursor: initial;
}
