.root {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 40px;
}

.content {
    width: 1024px;
    min-width: 1024px;
}

.pageButton {
    height: 24px;
    width: 24px;
    border: 2px solid #068441;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
}

.pageButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.arrow {
    width: 16px;
    height: 16px;
}

.arrowBlock {
    display: flex;

    &.prev {
        .arrow {
            margin-right: 4px;
        }
    }

    &.next {
        .arrow {
            transform: rotate(180deg);
            margin-left: 4px;
        }
    }
}
