.body {
    margin-top: 8px;
    margin-left: 32px;

    & > p:first-child {
        display: none;
    }

    * {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.collapsed {
    .body {
        display: none;
    }

    .line {
        display: block;
    }
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 18px 0 18px 0;
    outline: none;

    :hover {
        path {
            stroke: #068441;
            stroke-opacity: 1;
        }
    }
}

.buttonTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.buttonIcon {
    margin-right: 16px;
    display: inline-block;
    svg {
        width: 16px;
        height: 16px;
    }
}

.buttonContent {
    display: flex;
    align-items: center;
}
