.root {
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 32px;
    padding-bottom: 64px;

    * {
        margin: 0;
    }

    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.685714px;
        color: #011626;
        margin-top: 32px;
        margin-bottom: 32px;

        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.685714px;
        color: #011626;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
