<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Штрафы для бизнеса от Сбербанка</title>
    <meta name="description" content="b2b-fines — штрафы для бизнеса от Сбербанка">
    <meta name="keywords" content="штрафы, сбербанк, sberbank" />
    <link href="/favicons/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <style>
        * { font-family: Montserrat; }
        body {margin: 0; background-color: #F2F2F2;}
    </style>
</head>
<body>
    <div id='root' class="global-root"></div>
    <script src="/static/js/bundle.js?<%=bundle_version %>"></script>
</body>
</html>
