.root {
    &:hover {
        .tooltipWrapper {
            visibility: visible;
        }
    }
}

.tooltipWrapper {
    position: absolute;
    visibility: hidden;
}

.tooltipBlock {
    position: relative;
    z-index: 1;
    top: -60px;
    height: 26px;
    background: #011626;
    border-radius: 2px;
}

.tooltipText {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    letter-spacing: -0.685714px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    padding: 8px 12px 8px 12px;
}
