.comment {
    background: rgba(1, 22, 38, 0.08);
    border-radius: 4px;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #011626;
        margin: 0;
    }
}

.commentUpper {
    padding-bottom: 12px;
}
