.root {
    display: flex;
    justify-content: center;
    background-color: white;
}

.content {
    padding-top: 114px;
    padding-bottom: 700px;
    width: 354px;
    text-align: center;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -1.14286px;
    color: #131618;
    margin-bottom: 12px;

}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.8px;
    color: #4D5862;
    margin-bottom: 24px;
}

.button {
    background: #11954F;
    box-shadow: 0 2px 16px rgba(6, 132, 65, 0.24);
    border-radius: 8px;
    border: 0;
    outline: none;
    padding: 6px 12px;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.buttonText {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    padding: 12px 20px;
}
