:root {
    --common-padding: 12px;

    --width-cell-checkbox: 32px;

    --width-cell-status: 128px;

    --width-cell-uin: 144px;

    --width-cell-violation: 254px;

    --width-cell-datetime: 96px;

    --width-cell-regsign: 76px;

    --width-cell-amount: 60px;

    --width-cell-details: 82px;
}

.root {
    background-color: #FFFFFF;
    padding: 0 32px 85px;
    margin-bottom: 100px;
}

.titleCell {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: #068441;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(1, 22, 38, 0.08);
}

.titleCellCheckbox {
    width: var(--width-cell-checkbox);
    min-width: var(--width-cell-checkbox);
    max-width: var(--width-cell-checkbox);
}

.titleCellUin {
    width: var(--width-cell-uin);
    min-width: var(--width-cell-uin);
    max-width: var(--width-cell-uin);
    padding-right: var(--common-padding);
}

.titleCellViolation {
    width: var(--width-cell-violation);
    min-width: var(--width-cell-violation);
    max-width: var(--width-cell-violation);
    padding-right: var(--common-padding);
}

.titleCellDateTime {
    width: var(--width-cell-datetime);
    min-width: var(--width-cell-datetime);
    max-width: var(--width-cell-datetime);
    padding-right: var(--common-padding);
}

.titleCellRegSign {
    width: var(--width-cell-regsign);
    min-width: var(--width-cell-regsign);
    max-width: var(--width-cell-regsign);
    padding-right: var(--common-padding);
}

.titleCellStatus {
    width: var(--width-cell-status);
    padding-right: var(--common-padding);
}

.titleCellAmount {
    width: var(--width-cell-amount);
    min-width: var(--width-cell-amount);
    max-width: var(--width-cell-amount);
    padding-right: var(--common-padding);
}

.titleCellDetails {
    width: var(--width-cell-details);
    min-width: var(--width-cell-details);
    max-width: var(--width-cell-details);
}

.cell {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: #011626;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(1, 22, 38, 0.08);
    height: 47px;
    align-items: center;
}

.cellCheckbox {
    width: var(--width-cell-checkbox);
    max-width: var(--width-cell-checkbox);
    min-width: var(--width-cell-checkbox);
}

.cellUin {
    width: var(--width-cell-uin);
    min-width: var(--width-cell-uin);
    max-width: var(--width-cell-uin);
    padding-right: var(--common-padding);
}

.cellViolation {
    width: var(--width-cell-violation);
    min-width: var(--width-cell-violation);
    max-width: var(--width-cell-violation);
    padding-right: var(--common-padding);
    display: flex;
}

.cellDateTime {
    width: var(--width-cell-datetime);
    max-width: var(--width-cell-datetime);
    min-width: var(--width-cell-datetime);
    padding-right: var(--common-padding);
}

.cellRegSign {
    width: var(--width-cell-regsign);
    max-width: var(--width-cell-regsign);
    padding-right: var(--common-padding);
}

.cellStatus {
    width: var(--width-cell-status);
    min-width: var(--width-cell-status);
    max-width: var(--width-cell-status);
    padding-right: var(--common-padding);

    &.expired {
        color: #CC0000;
    }
}

.statusWrapper  {
    display: flex;
    align-items: center;
}

.cellAmount {
    width: var(--width-cell-amount);
    min-width: var(--width-cell-amount);
    max-width: var(--width-cell-amount);
    padding-right: var(--common-padding);

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.cellDetails {
    width: var(--width-cell-details);
    min-width: var(--width-cell-details);
    max-width: var(--width-cell-details);
}

.detailsButton {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    border: 1px solid #068441;
    border-radius: 4px;
}

.detailsButtonText {
    padding: 7px 16px 6px 16px;
    color: #068441;
    font-size: 12px;
}

.violationTypeIcon {
    width: 24px;
    height: 24px;
}

.regSignIcon {
    svg {
        width: 32px;
        height: 32px;
    }
}

.row {
    &:hover {
        background-color: rgba(1, 22, 38, 0.08);
    }
}

.alertRow {
    background: rgba(204, 0, 0, 0.04);
}

.cellViolationAddress {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-left: 12px;
    max-height: 30px;
}

.statusIcon {
    svg {
        width: 20px;
        height: 20px;
    }
    margin-right: 8px;
}
