.root {
    display: flex;
    justify-content: center;
    background-color: white;
}

.content {
    padding-top: 114px;
    padding-bottom: 700px;
    width: 354px;
    text-align: center;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -1.14286px;
    color: #131618;
    margin-bottom: 12px;

}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.8px;
    color: #4D5862;
    margin-bottom: 24px;
}

.button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #007A5B;
    text-decoration: none;
}
