.root {
    margin: 0;
    border: 0;
    white-space: nowrap;
    padding: 0;
    display: flex;
    color: #068441;
    cursor: pointer;
    text-decoration: none;

    &.selected {
        font-weight: 600;
    }

    &.asc {
        .icon {
            transform: rotate(0);
        }
    }

    &.desc {
        svg {
            transform: rotate(180deg);
        }
    }
}

.icon {
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;


    svg {
        width: 6px;
        height: 6px;
    }
}
