.root {
    background-color: #FFFFFF;
    padding: 24px 32px 24px 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.685714px;
    color: #011626;
    margin-bottom: 4px;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
}

.totalAmount {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    text-align: right;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
}
