.root {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    border: 1px solid #068441;
    border-radius: 8px;

    &.outline-green {
        font-size: 12px;
        border: 1px solid #068441;
        padding: 6px 12px;
    }

    &.green {
        background: #11954F;
        border: none;
        padding: 8px 20px;

        .buttonText {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &:disabled {
            background: rgba(1, 22, 38, 0.4);
        }
    }

    &.dialog-pink {
        background: #E3296A;
        border: none;
        padding: 12px 20px;

        .buttonText {
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 16px;
            padding: 0;
        }
    }

    &.dialog-green {
        background: #ffffff;
        border: 1px solid #068441;
        padding: 11px 20px;

        .buttonText {
            text-transform: uppercase;
            color: #068441;
            font-weight: 600;
            font-size: 16px;
            padding: 0;
        }
    }

    &.second-pink {
        background: #fff;
        border: 1px solid #CC0000;
        padding: 6px 12px;

        .buttonText {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #CC0000;
        }
    }

    &.big-green {
        background: #11954F;
        border: none;
        width: 100%;
        padding: 15px 16px;

        .buttonText {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.571429px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 0;
        }

        &:disabled {
            background: rgba(1, 22, 38, 0.4);
        }
    }

    &.big-second {
        width: 100%;
        padding: 15px 16px;
        border: 1px solid #068441;
        background-color: transparent;

        .buttonText {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.571429px;
            text-transform: uppercase;
            padding: 0;
        }
    }
}

.buttonText {
    color: #068441;
}
