.root {
    background: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 304px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: inline-block;
}

.title {
    margin: 16px 16px 4px 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.description {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
    margin: 0 16px 16px 16px;
}

.line {
    border: 0;
    height: 1px;
    background: rgba(1, 22, 38, 0.08);
}

.buttonPanel {
    margin: 16px;
}
