.root {
    padding: 32px 40px 16px 24px;
    background-color: #ffffff;
    border-bottom: 8px solid rgba(1, 22, 38, 0.04);
}

.header {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.685714px;
    color: #011626;
    margin: 0 0 4px 0;
    display: flex;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
}

.title {
    display: flex;
    margin-bottom: 4px;
}

.leftCol {
    margin-right: 24px;
}

.cardPanel {
    margin-top: 16px;
}
