.root {
    background-color: white;
    height: 100%;
}

.title {
    padding-top: 80px;
    padding-left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -1.14286px;
    color: #131618;

    margin-bottom: 64px;
}

.downloadButton {
    border: 2px solid #068441;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 24px;
}

.downloadButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.571429px;
    text-transform: uppercase;
    color: #068441;
    padding: 8px 12px;
}

.uploadButton {
    background: #11954F;
    box-shadow: 0 2px 16px rgba(6, 132, 65, 0.24);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 0;
    margin-top: 24px;
}

.uploadButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.571429px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
    padding: 8px 12px;
}

.stepperPanel {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 384px;
    margin-right: 40px;
}

.warning {
    display: flex;
    align-items: center;
}

.warningIcon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.warningText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.8px;
    color: #011626;
}
