.stepRoot {
    display: flex;
    margin-left: 43px;
    width: 480px;
    align-items: flex-start;
    padding-bottom: 50px;
    position: relative;
}

.stepLine {
    opacity: 0.4;
    border: 1px solid #068441;
    height: 100%;
    position: absolute;
    left: 23px;
}

.stepNumber {
    margin-right: 12px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: white;
    width: 48px;
    height: 48px;
    justify-content: center;
    min-width: 48px;
}

.stepNumberIcon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #068441;
    border-radius: 50%;
}

.stepNumberText {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.8px;
    color: #068441;
}

.stepTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.8px;
    color: #011626;
    padding-top: 8px;
}
