:root {
    --width-cell-checkbox: 32px;

    --width-cell-sts: 92px;

    --width-cell-reg-sign: 92px;

    --width-cell-comment: 256px;

    --width-cell-group: 184px;
}

.root {
    background-color: #FFFFFF;
    padding: 24px 32px 85px;
}

.titleCell {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: #068441;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(1, 22, 38, 0.08);
}

.titleCellCheckbox {
    width: var(--width-cell-checkbox);
    min-width: var(--width-cell-checkbox);
    max-width: var(--width-cell-checkbox);
}

.titleCellSts {
    width: var(--width-cell-sts);
    min-width: var(--width-cell-sts);
    max-width: var(--width-cell-sts);
    padding-right: var(--common-padding);
}

.titleCellRegSign {
    width: var(--width-cell-reg-sign);
    min-width: var(--width-cell-reg-sign);
    max-width: var(--width-cell-reg-sign);
    padding-right: var(--common-padding);
}

.titleCellComment {
    width: var(--width-cell-comment);
    min-width: var(--width-cell-comment);
    max-width: var(--width-cell-comment);
    padding-right: var(--common-padding);
}

.titleCellGroup {
    width: var(--width-cell-group);
    min-width: var(--width-cell-group);
    max-width: var(--width-cell-group);
    padding-right: var(--common-padding);
}

.cell {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.571429px;
    color: rgba(1, 22, 38, 0.56);
    border-bottom: 1px solid rgba(1, 22, 38, 0.08);
    padding-top: 16px;
    padding-bottom: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.cellCheckbox {
    width: var(--width-cell-checkbox);
    max-width: var(--width-cell-checkbox);
    min-width: var(--width-cell-checkbox);
}

.cellSts {
    color: #011626;
    width: var(--width-cell-sts);
    min-width: var(--width-cell-sts);
    max-width: var(--width-cell-sts);
    padding-right: var(--common-padding);
}

.cellRegSign {
    width: var(--width-cell-reg-sign);
    min-width: var(--width-cell-reg-sign);
    max-width: var(--width-cell-reg-sign);
    padding-right: var(--common-padding);
}

.cellComment {
    width: var(--width-cell-comment);
    max-width: var(--width-cell-comment);
    min-width: var(--width-cell-comment);
    padding-right: var(--common-padding);
}

.cellGroup {
    width: var(--width-cell-group);
    max-width: var(--width-cell-group);
    min-width: var(--width-cell-group);
    padding-right: var(--common-padding);
}

.row {
    &:hover {
        background-color: rgba(1, 22, 38, 0.08);
    }
}

.paging {
    width: 704px;
}
