.title {
    margin-left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
    margin-right: 24px;
}

.button {
    width: 153px;
    height: 49px;
    left: 831px;
    bottom: 24px;
    background: #11954F;
    border-radius: 8px;
    margin-right: 40px;
    cursor: pointer;
    border: 0;

    &:disabled {
        background: rgba(1, 22, 38, 0.4);
        cursor: default;
    }
}


.buttonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.571429px;
    text-transform: uppercase;
    color: #EFF0F1;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0;
}

.rowCol {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

.buttonMove {
    margin-right: 16px;
}
