.label {
    margin-bottom: 24px;
    display: block;
    padding-top: 14px;
}

.hasError {
    .input {
        border-bottom: 1px solid #F6650A !important;
    }
    .labelText {
        color: #F6650A;
    }
}

.input {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #011626;
    background-color: #ffffff;
    border: none !important;
    border-bottom: 1px solid rgba(1, 22, 38, 0.24) !important;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 10px 10px 0;

    &.active {
        border-bottom: 1px solid #068441 !important;
        caret-color: #068441;
    }
}

.visible {
    .labelText {
        transition: all 0.1s;
        opacity: 1;
        transform: translateY(0px);
    }
}

.labelText {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(1, 22, 38, 0.56);
    margin-bottom: 4px;
    transition: all 0.2s;
    opacity: 0;
    transform: translateY(-20px);
}

.error {
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F6650A;
    visibility: hidden;
    height: 15px;

    &.errorVisible {
        visibility: visible;
    }
}



input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(1, 22, 38, 0.56);
}

input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
