.root {
    padding-top: 18px;
    padding-bottom: 18px;
}

.body {
    margin-top: 26px;
}

.collapsed {
    .body {
        display: none;
    }

    .line {
        display: block;
    }

    .buttonIcon {
        transform: rotate(180deg);
    }
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 25px;
    width: 100%;
    cursor: pointer;
}

.buttonTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.buttonIcon {
    margin-left: 8px;
    transform: rotate(0);
    display: inline-block;
    svg {
        width: 16px;
        height: 16px;
    }
}

.buttonContent {
    display: flex;
    align-items: center;
}

.line {
    border: 0;
    height: 1px;
    background: rgba(1, 22, 38, 0.08);
    margin-top: 0;
    margin-bottom: 8px;
    display: none;
}
