.root {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0 2px 24px rgba(180, 182, 205, 0.24);
    position: relative;
    height: 34px;
    max-height: 34px;
}

.tabs {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.tabLink {
    line-height: 17px;
    color: #A0A8B0;
    font-weight: 600;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 13px;
    text-decoration: none;
    display: inline-block;
}

.selectedTab {
    .tabLink {
        color: #131618;
    }

    border-bottom: 2px solid #158C7E;
}

.rightCol {
    display: flex;
}

.button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #068441;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
