.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    opacity: 0;
    transition: opacity 133ms ease-in;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(1, 22, 38, 0.56);
}

.root {
    width: 624px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 32px;
    overflow-y: scroll;
    position: relative;
}

.buttonClose {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;

    svg {
        width: 20px;
        height: 20px;
    }
}
