.button {
    margin-top: 24px;
}

.buttonNew {
    background-color: transparent;
    text-align: left;
    margin: 0;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
}

.buttonNewText {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.685714px;
    color: #068441;
}
