.root {
    display: flex;
    padding: 14px 14px 14px 2px;
    border-bottom: 1px solid rgba(1, 22, 38, 0.08);
    margin-bottom: 4px;
}

.radioInput {
    box-sizing: border-box;
    padding: 4px 10px 10px 0;
    min-width: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.textInput {
    display: inline-block;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    background-color: #ffffff;
    border: none !important;
    outline: none;
    letter-spacing: -0.685714px;
    color: #011626;
    width: 100%;
}


.labelText {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.error {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F6650A;
}

input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(1, 22, 38, 0.56);
}

input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
