.root {
    width: 224px;
    height: 243px;
    margin-left: 16px;
    background: #FFFFFF;
    border: 1px solid #DFE2E4;
    box-sizing: border-box;
    border-radius: 2px;
}

.title {
    margin-top: 16px;
    margin-left: 12px;
    margin-bottom: 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.457143px;
    text-transform: uppercase;
    color: #616E7C;
}

.description1 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.342857px;
    color: #808B95;
    margin-bottom: 16px;
    margin-left: 16px;
}

.description2 {
    margin-left: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.342857px;
    color: #808B95;
}

.fileName {
    margin-bottom: 12px;
    margin-left: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.4px;
    color: #131618;
}

.downloadButton {
    margin-top: 24px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.4px;
    color: #068441;
    text-decoration: none;
    display: block;
    text-align: center;
}

.newButton {
    width: 100%;
    height: 40px;
    background: #11954F;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    border: 0;
}

.newButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
