.label {
    margin-right: 32px;
    display: inline-block;
    width: 100%;

    &.hasError {
        .labelText {
            color: #F6650A;
        }
    }
}

.labelText {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(1, 22, 38, 0.56);
    margin-bottom: 4px;
}

.input {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #011626;
    background-color: #ffffff;
    border: none !important;
    border-bottom: 1px solid rgba(1, 22, 38, 0.24) !important;
    outline: none;
    box-sizing: border-box;
    width: 100%;

    &.active {
        border-bottom: 1px solid #068441 !important;
        caret-color: #068441;
    }
}

.error {
    margin-top: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F6650A;
}
