.root {
    padding: 40px 40px 32px 32px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #011626;
    margin-bottom: 9px;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #011626;
    margin-bottom: 24px;
}
