.title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #011626;
    margin-bottom: 8px;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(1, 22, 38, 0.56);
    margin-bottom: 24px;
}
