.dialogClass {
    min-height: 600px;
    max-height: 600px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #011626;
    margin-bottom: 8px;
    margin-right: 32px;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #011626;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}

.line {
    border: 0;
    height: 1px;
    background: rgba(1, 22, 38, 0.08);
    margin-bottom: 20px;
}

.panelTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.685714px;
    color: #011626;
    margin-bottom: 20px;
}

.detailsPanel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 25px;
}

.buttonClose {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;

    svg {
        width: 20px;
        height: 20px;
    }
}

.warning {
    background: rgba(1, 22, 38, 0.08);
    border-radius: 4px;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #011626;
}

.statusIcon {
    svg {
        width: 20px;
        height: 20px;
    }
    margin-right: 8px;
}


.downloadButtonWrapper {
    position: sticky;
    bottom: 0;
    padding-right: 32px;
}

.downloadButton {
    background: #11954F;
    box-shadow: 0 4px 12px rgba(8, 166, 82, 0.24);
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    padding: 15px 16px;
    text-decoration: none;
}

.downloadButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
