.row {
    display: flex;
    margin-bottom: 13px;
}

.label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
    margin-right: 16px;
    width: 154px;
}

.value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.685714px;
    color: #011626;
    width: 390px;
}

.mainSum {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.685714px;
    color: #011626;
}
