

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #011626;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(1, 22, 38, 0.08);
    margin-left: -32px;
    padding-left: 32px;
    margin-right: -32px;
    padding-right: 32px;
}

.message {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #011626;
    margin-top: 20px;
    margin-bottom: 40px;
}
