.root {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.content {
    background: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    width: 464px;
    min-width: 464px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #011626;
    margin-top: 40px;
    margin-bottom: 36px;
}

.formWrapper {
    margin-left: 56px;
    margin-right: 56px;
}

.buttonWrapper {
    margin-top: 32px;
}

.button {
    width: 100%;
    height: 49px;
    left: 831px;
    bottom: 24px;
    background: #11954F;
    border-radius: 8px;
    margin-right: 40px;
    border: 0;

    &:disabled {
        background: rgba(1, 22, 38, 0.4);
    }
}

.buttonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.571429px;
    text-transform: uppercase;
    color: #EFF0F1;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0;
}

.contacts {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.contactsLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(1, 22, 38, 0.56);
    flex: none;
    order: 0;
    align-self: center;
    margin-right: 16px;
}

.linkEmail {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #068441;
    flex: none;
    order: 1;
    align-self: center;
    margin: 16px 0px;
    text-decoration: none;
}

.error {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #CC0000;
}

.emailWrapper {
    margin-top: 16px;
}
