.root {
    display: flex;
    align-items: center;
}

.checkbox {
    margin: 0 6px 0 6px;
}

.label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: #011626;
}
