.root {
    position: relative;
    width: 136px;
}

.dateLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(1, 22, 38, 0.56);
    display: block;
    margin-bottom: 4px;
}

.dateInput {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #011626;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(1, 22, 38, 0.24);
    width: 136px;
    caret-color: #068441;

    &:focus {
        border-bottom: 1px solid #068441;
    }
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.calendar {
    position: absolute;
    top: 53px
}

:global .react-datepicker__triangle {
    &::before {
        z-index: 0;
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        height: 10px;
        width: 10px;
        background: #f0f0f0;
        -webkit-transform: rotate(45deg);
        border: 1px solid #aeaeae;
        transform: rotate(45deg);
    }
}

