.root {
    position: relative;

    &.hasFilter {
        .dropdownRoot {
            background: #11954F;
            border: 1px solid #11954F;
        }
        .title {
            color: white;
        }
    }
}

.dropdownRoot {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(1, 22, 38, 0.56);
    border-radius: 2px;
    display: flex;
    padding: 6px 8px;
    margin: 0 8px 0 0;
    align-items: center;
    outline: none;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-right: 8px;
}

.icon {
    height: 16px;
    svg {
        width: 16px;
        height: 16px;
    }
}

.popup {
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    border-radius: 8px;

    position: absolute;
    top: 44px;
    left: 0;
    z-index: 2;

    min-width: 200px;
    max-width: 200px;

    &::before {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: 29px;
        height: 8px;
        width: 8px;
        background: #FFFFFF;
        transform: rotate(45deg);
    }
}

.list {
    margin-top: 4px;
    margin-bottom: 8px;
}

.option {
    display: flex;
    padding: 8px;
    align-items: center;
}

.optionCheckbox {
    margin: 0;
}

.optionText {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.buttonPanel {
    border-top: 1px solid rgba(1, 22, 38, 0.08);
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: transparent;
    margin: 13px;
    padding: 0;
    cursor: pointer;
    border: none;

    line-height: 20px;
    text-transform: uppercase;
    color: #068441;
    font-weight: 600;
    font-size: 16px;
}

.buttonClearFilter {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}
