.root {
    padding: 32px 40px 0 24px;
    background-color: #ffffff;
}

.bread {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.571429px;
    color: #068441;

    text-decoration: none;
    display: inline-block;
}

.breadArrowIcon {
    margin-left: 12px;
    margin-right: 12px;
    svg {
        width: 16px;
        height: 17px;
    }
}

.breadText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.571429px;
    color: #011626;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.685714px;
    color: #011626;
}

.editIcon {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 4px 0 0 8px;
    outline: none;
    cursor: pointer;
    svg {
        width: 32px;
        height: 32px;
    }
}

.titleRow {
    display: flex;
    align-items: center;
}

.removeButton {
    margin-left: 200px;
}

.quantity {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.685714px;
    color: rgba(1, 22, 38, 0.56);
    padding: 8px 16px;
    border: 1px solid rgba(1, 22, 38, 0.56);
    border-radius: 4px;
    margin-top: 4px;
}
